<% layout("./layouts/boilerPlate") %>

<div class="row">
    <div class="col-8 offset-2">
        <br><br>
    <h3 class="create-new"><b>Edit listing</b></h3> <br>
    <form action="/listings/<%=singleListing._id%>/?_method=put" method="post">
        <div class="mb-3">
            <label for="title-id" class="form-label create-label" >Title</label>
            <input type="text" id="title-id" value="<%= singleListing.title%>" name="title" placeholder="Add a catchy title" class="form-control shadow" >
        </div>
        <div class="mb-3">
            <label for="description-id" class="form-label create-label">Description</label>
            <textarea name="description" id="description-id" placeholder="Description" class="form-control shadow"><%= singleListing.description %>
            </textarea>
        </div>
        <div class="mb-3">
            <label for="img-id" class="form-label create-label">Image link</label>
             <input type="text" name="image" id="img-id" value="<%= singleListing.image %>" placeholder="Enter img-url" class="form-control shadow" >
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="num-id" class="form-label create-label">Price</label>
                <input type="number" id="num-id" value="<%= singleListing.price %>" placeholder="1200" name="price" class="form-control shadow" >
            </div>
            <div class="mb-3 col-md-8">
                <label for="cty-id" class="form-label create-label">Country</label>
                <input type="text" id="cty-id" value="<%= singleListing.country %>" name="country" placeholder="India"class="form-control shadow">
            </div>
        </div>
         <div class="mb-3 ">
            <label for="loc-id" class="form-label create-label">Location</label>
            <input type="text" name="location" id="loc-id" value="<%= singleListing.location %>" placeholder="Delhi" class="form-control shadow">
        </div>
        <br>
        <button class="btn  addBtn">Submit</button>
        <br><br><br><br>
    </form>
</div>
</div>